bin/
bin-int
.vs/
thumbnails/

!external/bin/
!external/bin/**

*.obj
*.pdb
*.ipch
*.aps
*.ncb
*.sdf
*.suo
*.opensdf
*.cache
*.ilk
*.log
*.tlog
*.tmp
*.user
*.sln
*.VC.db
*.VC.VC.opendb

.vscode/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

